@import "../stylesheets/global.scss";

.about {
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.about {
  .about-info {
    margin: $margin;
  }

  .about-info h1 {
    font-size: $h1;
    color: $grey;
  }
  .about-info p {
    margin: $margin-within;
    font-size: $p;
    color: $grey;
  }

  img {
    height: 80%;
    width: 80%;
    margin: $margin-within;
    border-radius: 150px;
  }

  .about-image {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: $margin-within;
  }

  .about-image img {
    width: 40%;
    height: 40%;
  }

  .button-clients {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-clients button {
    margin: $margin-side;
    font-family: $font;
    font-size: $p;
    color: $grey;
    padding: 5px;
    width: 60%;
    box-sizing: border-box;
    border-width: 0.3vw;
    border-style: solid;
    border-radius: 20px;
    transition: opacity 0.6s ease-out 0.6s;
    background: linear-gradient(
      40deg,
      #fcf8f8 10%,
      #ffd600 30%,
      #fcf8f8 50%,
      #47802b 100%
    );
    &:hover {
      color: $grey;
      transition: 0.5s;
      background: linear-gradient(
        40deg,
        #47802b 10%,
        #fcf8f8 30%,
        #ffd600 50%,
        #fcf8f8 100%
      );
    }
  }

  .button-clients button a {
    text-decoration: none;
    color: $grey;
  }

  .about-footer {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1601px) {
  .about {
    .about-info h1 {
      font-size: 2.8rem;
    }
    .about-info p {
      font-size: 1.6rem;
    }

    img {
      width: 25%;
      height: 25%;
    }
    .about-image img {
      width: 10%;
      height: 10%;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .about {
    img {
      width: 25%;
      height: 25%;
    }
    .about-image img {
      width: 10%;
      height: 10%;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about {
    img {
      width: 40%;
      height: 40%;
    }
    .about-image img {
      width: 20%;
      height: 20%;
    }
  }
}

@media screen and (min-width: 667px) and (max-width: 767px) {
  .about {
    img {
      width: 40%;
      height: 40%;
    }
    .about-image img {
      width: 25%;
      height: 25%;
    }
  }
}
