@import "../stylesheets/global.scss";

.contact {
  .contact-info {
    margin: $margin;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .contact-info h1 {
    font-size: $h1;
    margin: $margin-within;
    color: $grey;
  }

  .contact-info p {
    margin: $margin-within;
    font-size: $p;
    color: $grey;
  }

  .contact-phone {
    display: flex;
    flex-direction: row;
  }

  .contact-phone-email {
    margin-top: 20px;
  }
  .contact-phone img {
    height: 15%;
    width: 15%;
    transform: rotate(0deg);
    margin-right: 20px;
  }
  .contact-email {
    display: flex;
    flex-direction: row;
  }

  .contact-email img {
    height: 15%;
    width: 15%;
    transform: rotate(270deg);
    margin-right: 20px;
  }

  .contact-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
  }

  img {
    width: 30%;
    height: 30%;
  }

  .button-clients {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-clients button {
    margin: $margin-side;
    font-family: $font;
    font-size: $p;
    color: $grey;
    padding: 5px;
    width: 50%;
    box-sizing: border-box;
    border-width: 0.3vw;
    border-style: solid;
    border-radius: 20px;
    transition: opacity 0.6s ease-out 0.6s;
    background: linear-gradient(
      40deg,
      #fcf8f8 10%,
      #ffd600 30%,
      #fcf8f8 50%,
      #47802b 100%
    );
    &:hover {
      color: $grey;
      transition: 0.5s;
      background: linear-gradient(
        40deg,
        #47802b 10%,
        #fcf8f8 30%,
        #ffd600 50%,
        #fcf8f8 100%
      );
    }
  }

  .button-clients button a {
    text-decoration: none;
    color: $grey;
  }

  .contact-footer {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1601px) {
  .contact {
    .contact-phone img {
      height: 10%;
      width: 10%;
      margin-right: 50px;
    }
    .contact-email img {
      height: 10%;
      width: 10%;
      margin-right: 50px;
      margin-left: 10px;
    }
    .contact-info p {
      margin-top: 140px;
      font-size: 1.8rem;
    }

    .contact-image img {
      margin: 0px;
      width: 20%;
      height: 20%;
    }

    .button-clients button {
      width: 25%;
    }

    .contact-footer {
      margin-top: 90px;
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .contact {
    .contact-info {
      margin-top: 75px;
    }
    .contact-phone img {
      height: 8%;
      width: 8%;
      margin-right: 50px;
    }
    .contact-email img {
      height: 8%;
      width: 8%;
      margin-right: 50px;
      margin-left: 10px;
    }
    .contact-info p {
      margin-top: 80px;
      font-size: 1.8rem;
    }

    .contact-image img {
      margin: 0px;
      width: 20%;
      height: 20%;
    }

    .button-clients button {
      width: 25%;
    }

    .contact-footer {
      margin-top: 12px;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .contact {
    .contact-phone img {
      height: 10%;
      width: 10%;
    }
    .contact-email img {
      height: 10%;
      width: 10%;
    }

    .contact-image img {
      margin: 0px;
      width: 20%;
      height: 20%;
    }

    .button-clients button {
      width: 40%;
    }
    .contact-footer {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact {
    .contact-footer {
      margin-top: 309px;
    }

    .contact-image img {
      margin: 0px;
      width: 20%;
      height: 20%;
    }

    .button-clients button {
      width: 40%;
    }

    .contact-footer {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 734px) and (max-width: 767px) {
  .contact {
    .contact-info {
      margin: 60px 30px 0px 30px;
    }

    .contact-info h1 {
      margin-bottom: 0px;
    }
    .contact-phone-email {
      display: flex;
      flex-direction: row;
      margin-bottom: 0px;
    }

    .contact-info p {
      margin: 0px;
      font-size: 1.6rem;
    }

    .contact-phone img {
      height: 25%;
      width: 25%;
      margin-right: 0px;
      margin-bottom: 15px;
    }
    .contact-email img {
      height: 30%;
      width: 30%;
      margin-right: 0px;
      margin-bottom: 5px;
    }

    .contact-phone {
      flex-direction: column;
    }

    .contact-email {
      flex-direction: column;
    }
    .contact-image {
      margin: 0px 0 0 0;
    }

    img {
      width: 20%;
      height: 20%;
    }

    .button-clients button {
      width: 30%;
    }
    .contact-footer {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 684px) and (max-width: 733px) {
  .contact {
    .contact-info {
      margin: 60px 30px 0px 30px;
    }

    .contact-info h1 {
      margin-bottom: 0px;
    }

    .contact-phone-email {
      display: flex;
      flex-direction: row;
      margin-bottom: 0px;
    }

    .contact-info p {
      margin: 0px;
      font-size: 1.6rem;
      margin-bottom: 0px;
    }

    .contact-phone img {
      height: 25%;
      width: 25%;
      margin-right: 0px;
      margin-bottom: 5px;
    }
    .contact-email img {
      height: 25%;
      width: 25%;
      margin-right: 0px;
      margin-bottom: 5px;
    }

    .contact-phone {
      flex-direction: column;
      margin-bottom: 0px;
    }

    .contact-email {
      flex-direction: column;
      margin-bottom: 0px;
    }
    .contact-image img {
      margin: 0px;
      height: 20%;
      width: 20%;
    }

    .button-clients button {
      width: 30%;
    }

    .contact-footer {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 667px) and (max-width: 683px) {
  .contact {
    .contact-info {
      margin: 60px 30px 0px 30px;
    }

    .contact-info h1 {
      margin-bottom: 0px;
    }

    .contact-phone-email {
      display: flex;
      flex-direction: row;
      margin-bottom: 0px;
    }

    .contact-info p {
      margin: 0px;
      font-size: 1.6rem;
      margin-bottom: 0px;
    }

    .contact-phone img {
      height: 25%;
      width: 25%;
      margin-right: 0px;
      margin-bottom: 5px;
    }
    .contact-email img {
      height: 25%;
      width: 25%;
      margin-right: 0px;
      margin-bottom: 5px;
    }

    .contact-phone {
      flex-direction: column;
      margin-bottom: 0px;
    }

    .contact-email {
      flex-direction: column;
      margin-bottom: 0px;
    }
    .contact-image img {
      margin: 0px;
      height: 20%;
      width: 20%;
    }

    .button-clients button {
      width: 30%;
    }

    .contact-footer {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 666px) {
  .contact {
    .contact-footer {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 411px) {
  .contact {
    .contact-footer {
      margin-top: 20px;
    }
  }
}
