@import "../stylesheets/global.scss";

.index-page {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: 90px 0px 0px 0px;
  background-color: $white;
}

.index-page {
  .index-title {
    margin: 0px 20px;
  }
  h1 {
    font-size: 4.2rem;
    color: $grey;
  }

  .index-image-eva img {
    max-width: 50%;
    border-radius: 550px;
    height: auto;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 1.5rem;
    color: $grey;
    margin-bottom: 15px;
  }

  .index-image-leaf {
    display: flex;
    flex-direction: row;
  }
  .index-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;
  }

  .index-image-beach img {
    max-width: 100%;
    height: auto;
    margin-top: 60px;
  }

  .index-image img {
    width: 30%;
    height: 30%;
  }

  .beach-title h2 {
    margin: 30px 0 0 0;
    font-size: 1.2rem;
  }

  .button-clients {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-clients button {
    margin: $margin-side;
    font-family: $font;
    font-size: $p;
    color: $grey;
    padding: 5px;
    width: 80%;
    box-sizing: border-box;
    border-width: 0.3vw;
    border-style: solid;
    border-radius: 20px;
    transition: opacity 0.6s ease-out 0.6s;
    background: linear-gradient(
      40deg,
      #fcf8f8 10%,
      #ffd600 30%,
      #fcf8f8 50%,
      #47802b 100%
    );
    &:hover {
      color: $grey;
      transition: 0.5s;
      background: linear-gradient(
        40deg,
        #47802b 10%,
        #fcf8f8 30%,
        #ffd600 50%,
        #fcf8f8 100%
      );
    }
  }

  .button-clients button a {
    text-decoration: none;
    color: $grey;
  }

  .index-footer {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1601px) {
  .index-page {
    margin: 200px 0px 0px 0px;
  }

  .index-page {
    .index-format {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .index-name-title {
      display: flex;
      flex-direction: column;
      width: 60%;
      justify-content: center;
    }

    .index-image-beach img {
      width: 60%;
      height: 60%;
      justify-content: center;
      align-items: center;
      margin-top: 180px;
    }

    .beach-title h2 {
      margin: 30px 0 0 0;
      font-size: 1.6rem;
    }

    .index-image img {
      width: 10%;
      height: 10%;
    }

    .button-clients button {
      width: 25%;
    }

    .index-footer {
      margin-top: 40px;
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .index-page {
    margin: 140px 0px 0px 0px;
  }

  .index-page {
    .index-format {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .index-name-title {
      display: flex;
      flex-direction: column;
      width: 70%;
      justify-content: center;
    }

    .index-image-beach img {
      width: 60%;
      height: 60%;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
    }

    .beach-title h2 {
      margin: 0 0 0 0;
      font-size: 1.6rem;
    }

    .index-image img {
      width: 15%;
      height: 15%;
    }

    .button-clients button {
      width: 30%;
    }

    .index-footer {
      margin-top: 40px;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .index-format {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .index-name-title {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
  }

  .index-page {
    h1 {
      font-size: 4.2rem;
      color: $grey;
    }

    h2 {
      font-size: 2.2rem;
      color: $grey;
    }

    .index-image-beach img {
      width: 90%;
      height: 90%;
      justify-content: center;
      align-items: center;
      margin-top: 0px;
    }

    .index-image img {
      width: 20%;
      height: 20%;
    }
    .button-clients button {
      width: 30%;
    }

    .index-footer {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .index-page {
    margin: 120px 0px 0px 0px;
  }
  .index-page {
    h1 {
      font-size: 4.4rem;
      color: $grey;
    }

    h2 {
      font-size: 2.4rem;
      color: $grey;
    }

    .index-image-beach img {
      height: 80%;
      width: 80%;
      margin: 30px 0 0 0;
    }
    .index-image img {
      width: 30%;
      height: 30%;
    }

    .button-clients button {
      width: 40%;
    }

    .index-footer {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 734px) and (max-width: 767px) {
  .index-page {
    margin: 90px 0px 0px 0px;
  }
  .index-format {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .index-name-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .index-page {
    h1 {
      font-size: 3.2rem;
    }

    h2 {
      font-size: 1.8rem;
      color: $grey;
    }

    .index-image-beach img {
      width: 70%;
      height: 70%;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
    }

    .index-image img {
      width: 20%;
      height: 20%;
    }

    .beach-title {
      margin-top: 38px;
    }
    .button-clients button {
      width: 40%;
    }
    .index-footer {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 684px) and (max-width: 733px) {
  .index-page {
    margin: 90px 0px 0px 0px;
  }

  .index-format {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .index-name-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .index-page {
    h1 {
      font-size: 3.2rem;
    }

    h2 {
      font-size: 1.8rem;
      color: $grey;
    }

    .index-image-beach img {
      width: 90%;
      height: 90%;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
    }

    .beach-title {
      margin-top: 64px;
    }

    .index-image img {
      width: 30%;
      height: 30%;
    }

    .button-clients button {
      width: 40%;
    }

    .index-footer {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 667px) and (max-width: 683px) {
  .index-page {
    margin: 90px 0px 0px 0px;
  }

  .index-format {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .index-name-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .index-page {
    h1 {
      font-size: 2.8rem;
    }

    h2 {
      font-size: 1.8rem;
      color: $grey;
    }

    .index-image-beach img {
      width: 90%;
      height: 90%;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
    }

    .beach-title {
      margin-top: 64px;
    }

    .index-image img {
      width: 30%;
      height: 30%;
    }

    .button-clients button {
      width: 40%;
    }

    .index-footer {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 666px) {
  .index-page {
    h1 {
      font-size: 3rem;
    }
    .index-image-beach img {
      margin-top: 30px;
    }
    .index-footer {
      margin-top: 22px;
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 411px) {
  .index-page {
    h1 {
      font-size: 3rem;
    }
    .button-clients button {
      width: 80%;
    }
    .index-image-beach img {
      margin-top: 30px;
    }
    .index-footer {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 220px) and (max-width: 374) {
  .index-page {
    .beach-title h2 {
      font-size: 1rem;
    }
  }
}
