@import "../stylesheets/global.scss";

.work {
  margin: 0px 0px;
}

.work {
  .work-info {
    margin: $margin;
  }

  .work-info h1 {
    font-size: $h1;
    margin: $margin-within;
    color: $grey;
  }
  .work-info h2 {
    font-size: $h2;
    color: $grey;
  }
  .work-info p {
    margin: $margin-within;
    font-size: $p;
    color: $grey;
  }

  .work-image {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 30px 0 0 0;
    margin: $margin-within;
  }

  img {
    width: 40%;
    height: 40%;
  }

  .work-quote {
    width: 250%;
    height: 250%;
  }

  .button-clients {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-clients button {
    margin: $margin-side;
    font-family: $font;
    font-size: $p;
    color: $grey;
    padding: 5px;
    width: 60%;
    box-sizing: border-box;
    border-width: 0.3vw;
    border-style: solid;
    border-radius: 20px;
    transition: opacity 0.6s ease-out 0.6s;
    background: linear-gradient(
      40deg,
      #fcf8f8 10%,
      #ffd600 30%,
      #fcf8f8 50%,
      #47802b 100%
    );
    &:hover {
      color: $grey;
      transition: 0.5s;
      background: linear-gradient(
        40deg,
        #47802b 10%,
        #fcf8f8 30%,
        #ffd600 50%,
        #fcf8f8 100%
      );
    }
  }

  .button-clients button a {
    text-decoration: none;
    color: $grey;
  }

  .work-footer {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1601px) {
  .work {
    .work-info {
      margin: 90px 100px 0 100px;
    }
    .button-clients button {
      width: 15%;
      border-width: 0.1vw;
    }
    img {
      width: 10%;
      height: 10%;
    }
  }
}
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .work {
    .work-info {
      margin: 90px 90px 0 90px;
    }

    .button-clients button {
      width: 15%;
      border-width: 0.1vw;
    }
    img {
      width: 10%;
      height: 10%;
    }
    .work-quote {
      width: 350%;
      height: 350%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .work {
    .button-clients button {
      width: 35%;
    }

    img {
      width: 30%;
      height: 30%;
    }
    .work-quote {
      width: 150%;
      height: 150%;
    }
  }
}

@media screen and (min-width: 667px) and (max-width: 767px) {
  .work {
    .button-clients button {
      width: 40%;
    }

    img {
      width: 20%;
      height: 20%;
    }
    .work-quote {
      width: 250%;
      height: 250%;
    }
  }
}
